{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top_mobile }}px;
  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}
<style>
  .section-app{
    background: #E3DFD6;
  }
  .section-app h2{
    color: #171719;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 54px;
  }
  .app-badge{
    padding: 10px;
    background: #B0ADA6;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 27.3px */
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 40px;
    align-items: center;
  }
  .app-badge svg{
    width: 100%;
    max-width: 22px;
    display: block;
  }
  @media screen and (max-width: 1440px) {
    .section-app h2{
      font-size: 48px;
    }
  }
  @media screen and (max-width: 768px) {
    .section-app h2{
      font-size: 32px;
      margin-bottom: 24px;
    }
    .app-badge{
      margin-bottom: 32px;
    }
  }
</style>

<div {%  if section.settings.sectionId != blank %} data-custom-section-id="{{ section.settings.sectionId }}"{% endif %} id="reviewsSection" class="section-{{ section.id }}-padding section-app {% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  {% if section.settings.badge != blank %}
    <span class="app-badge">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
      <g clip-path="url(#clip0_784_11062)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.71846 1.11057L8.937 2.03182C8.86109 2.12115 8.75979 2.18526 8.64657 2.21564C8.53334 2.24601 8.41356 2.24121 8.30313 2.20186L7.16463 1.79532C6.93234 1.71236 6.68478 1.68089 6.43912 1.70311C6.19346 1.72533 5.95557 1.8007 5.74194 1.924C5.5283 2.0473 5.34403 2.21557 5.2019 2.41717C5.05976 2.61876 4.96316 2.84885 4.91879 3.09149L4.70246 4.28041C4.68144 4.39582 4.62574 4.50208 4.54279 4.58503C4.45984 4.66798 4.35358 4.72367 4.23817 4.7447L3.04925 4.96149C2.80661 5.00586 2.57652 5.10246 2.37493 5.24459C2.17334 5.38673 2.00506 5.571 1.88176 5.78463C1.75846 5.99827 1.68309 6.23616 1.66087 6.48182C1.63866 6.72748 1.67012 6.97503 1.75309 7.20732L2.15963 8.34536C2.19897 8.45579 2.20377 8.57558 2.1734 8.6888C2.14303 8.80203 2.07891 8.90333 1.98959 8.97924L1.06834 9.76116C0.880396 9.92092 0.729433 10.1196 0.625903 10.3435C0.522372 10.5674 0.46875 10.8111 0.46875 11.0578C0.46875 11.3044 0.522372 11.5482 0.625903 11.7721C0.729433 11.9959 0.880396 12.1946 1.06834 12.3544L1.98959 13.1363C2.07891 13.2122 2.14303 13.3135 2.1734 13.4268C2.20377 13.54 2.19897 13.6598 2.15963 13.7702L1.75309 14.9087C1.67012 15.141 1.63866 15.3885 1.66087 15.6342C1.68309 15.8799 1.75846 16.1178 1.88176 16.3314C2.00506 16.545 2.17334 16.7293 2.37493 16.8714C2.57652 17.0136 2.80661 17.1102 3.04925 17.1545L4.23817 17.3709C4.35358 17.3919 4.45984 17.4476 4.54279 17.5305C4.62574 17.6135 4.68144 17.7197 4.70246 17.8352L4.91925 19.0241C4.96362 19.2667 5.06022 19.4968 5.20236 19.6984C5.34449 19.9 5.52876 20.0683 5.7424 20.1916C5.95603 20.3149 6.19392 20.3902 6.43958 20.4125C6.68524 20.4347 6.9328 20.4032 7.16509 20.3202L8.30313 19.9137C8.41356 19.8744 8.53334 19.8696 8.64657 19.8999C8.75979 19.9303 8.86109 19.9944 8.937 20.0837L9.71892 21.005C9.87868 21.1929 10.0774 21.3439 10.3013 21.4474C10.5252 21.551 10.7689 21.6046 11.0155 21.6046C11.2622 21.6046 11.5059 21.551 11.7298 21.4474C11.9537 21.3439 12.1524 21.1929 12.3122 21.005L13.0941 20.0837C13.17 19.9944 13.2713 19.9303 13.3845 19.8999C13.4977 19.8696 13.6175 19.8744 13.728 19.9137L14.8665 20.3202C15.0988 20.4032 15.3463 20.4347 15.592 20.4125C15.8376 20.3902 16.0755 20.3149 16.2892 20.1916C16.5028 20.0683 16.6871 19.9 16.8292 19.6984C16.9713 19.4968 17.0679 19.2667 17.1123 19.0241L17.3286 17.8352C17.3496 17.7197 17.4053 17.6135 17.4883 17.5305C17.5712 17.4476 17.6775 17.3919 17.7929 17.3709L18.9818 17.1541C19.2245 17.1097 19.4546 17.0131 19.6562 16.871C19.8578 16.7288 20.026 16.5446 20.1493 16.3309C20.2726 16.1173 20.348 15.8794 20.3702 15.6337C20.3924 15.3881 20.361 15.1405 20.278 14.9082L19.8715 13.7702C19.8321 13.6598 19.8273 13.54 19.8577 13.4268C19.8881 13.3135 19.9522 13.2122 20.0415 13.1363L20.9628 12.3544C21.1507 12.1946 21.3017 11.9959 21.4052 11.7721C21.5087 11.5482 21.5623 11.3044 21.5623 11.0578C21.5623 10.8111 21.5087 10.5674 21.4052 10.3435C21.3017 10.1196 21.1507 9.92092 20.9628 9.76116L20.0415 8.97924C19.9522 8.90333 19.8881 8.80203 19.8577 8.6888C19.8273 8.57558 19.8321 8.45579 19.8715 8.34536L20.278 7.20686C20.361 6.97457 20.3924 6.72702 20.3702 6.48136C20.348 6.2357 20.2726 5.99781 20.1493 5.78417C20.026 5.57054 19.8578 5.38627 19.6562 5.24413C19.4546 5.102 19.2245 5.0054 18.9818 4.96103L17.7929 4.7447C17.6775 4.72367 17.5712 4.66798 17.4883 4.58503C17.4053 4.50208 17.3496 4.39582 17.3286 4.28041L17.1118 3.09149C17.0675 2.84885 16.9709 2.61876 16.8287 2.41717C16.6866 2.21557 16.5023 2.0473 16.2887 1.924C16.0751 1.8007 15.8372 1.72533 15.5915 1.70311C15.3458 1.68089 15.0983 1.71236 14.866 1.79532L13.728 2.20186C13.6175 2.24121 13.4977 2.24601 13.3845 2.21564C13.2713 2.18526 13.17 2.12115 13.0941 2.03182L12.3122 1.11057C12.1524 0.922633 11.9537 0.771669 11.7298 0.668139C11.5059 0.564609 11.2622 0.510986 11.0155 0.510986C10.7689 0.510986 10.5252 0.564609 10.3013 0.668139C10.0774 0.771669 9.87822 0.922633 9.71846 1.11057ZM10.4179 1.70457C10.4915 1.61814 10.5831 1.54872 10.6862 1.50112C10.7893 1.45352 10.9015 1.42887 11.0151 1.42887C11.1287 1.42887 11.2409 1.45352 11.344 1.50112C11.4471 1.54872 11.5386 1.61814 11.6123 1.70457L12.3947 2.62582C12.5916 2.85682 12.8539 3.02258 13.1471 3.10115C13.4403 3.17972 13.7504 3.1674 14.0364 3.06582L15.1745 2.65882C15.2815 2.62038 15.3956 2.60572 15.5089 2.61586C15.6222 2.626 15.7319 2.6607 15.8304 2.71754C15.9289 2.77438 16.0138 2.85199 16.0792 2.94499C16.1447 3.03799 16.1891 3.14413 16.2094 3.25603L16.4262 4.44495C16.4803 4.74378 16.6246 5.01878 16.8396 5.23328C17.0541 5.44815 17.3292 5.59238 17.6279 5.6467L18.8168 5.86349C18.9286 5.88396 19.0346 5.9285 19.1275 5.99402C19.2203 6.05954 19.2978 6.14446 19.3546 6.24291C19.4114 6.34136 19.446 6.45098 19.4562 6.56417C19.4664 6.67735 19.4519 6.7914 19.4136 6.89841L19.007 8.03645C18.9049 8.32239 18.8923 8.63268 18.9709 8.92598C19.0495 9.21928 19.2156 9.48167 19.447 9.6782L20.3683 10.4606C20.4547 10.5342 20.5241 10.6258 20.5717 10.7289C20.6193 10.832 20.644 10.9442 20.644 11.0578C20.644 11.1713 20.6193 11.2836 20.5717 11.3867C20.5241 11.4898 20.4547 11.5813 20.3683 11.655L19.447 12.4374C19.216 12.6342 19.0503 12.8966 18.9717 13.1898C18.8931 13.483 18.9055 13.7931 19.007 14.0791L19.414 15.2172C19.4525 15.3242 19.4671 15.4383 19.457 15.5516C19.4469 15.6648 19.4122 15.7745 19.3553 15.873C19.2985 15.9715 19.2209 16.0565 19.1279 16.1219C19.0349 16.1874 18.9287 16.2318 18.8168 16.2521L17.6279 16.4689C17.3292 16.5232 17.0541 16.6674 16.8396 16.8823C16.6247 17.0968 16.4805 17.3719 16.4262 17.6706L16.2094 18.8595C16.1889 18.9713 16.1444 19.0773 16.0788 19.1702C16.0133 19.263 15.9284 19.3405 15.83 19.3973C15.7315 19.4541 15.6219 19.4887 15.5087 19.4989C15.3955 19.5091 15.2815 19.4946 15.1745 19.4563L14.0364 19.0497C13.7505 18.9476 13.4402 18.9349 13.1469 19.0136C12.8536 19.0922 12.5912 19.2583 12.3947 19.4897L11.6123 20.411C11.5386 20.4974 11.4471 20.5668 11.344 20.6144C11.2409 20.662 11.1287 20.6867 11.0151 20.6867C10.9015 20.6867 10.7893 20.662 10.6862 20.6144C10.5831 20.5668 10.4915 20.4974 10.4179 20.411L9.6355 19.4897C9.43862 19.2587 9.17623 19.093 8.88306 19.0144C8.58989 18.9358 8.27977 18.9482 7.99375 19.0497L6.85571 19.4567C6.74868 19.4952 6.63456 19.5098 6.52129 19.4997C6.40802 19.4896 6.29832 19.4549 6.19982 19.398C6.10132 19.3412 6.01639 19.2636 5.95093 19.1706C5.88548 19.0776 5.84107 18.9714 5.82079 18.8595L5.604 17.6706C5.54969 17.3719 5.40545 17.0968 5.19059 16.8823C4.97604 16.6674 4.701 16.5232 4.40225 16.4689L3.21334 16.2521C3.1015 16.2316 2.99545 16.1871 2.90255 16.1215C2.80965 16.056 2.73212 15.971 2.67535 15.8725C2.61857 15.774 2.58391 15.6643 2.57376 15.5511C2.56361 15.4378 2.57823 15.3237 2.61659 15.2167L3.02313 14.0787C3.1253 13.7927 3.13792 13.4824 3.05931 13.1891C2.9807 12.8958 2.8146 12.6334 2.58313 12.4369L1.66188 11.6545C1.57544 11.5809 1.50603 11.4893 1.45843 11.3862C1.41083 11.2831 1.38617 11.1709 1.38617 11.0573C1.38617 10.9438 1.41083 10.8315 1.45843 10.7284C1.50603 10.6253 1.57544 10.5338 1.66188 10.4601L2.58313 9.67774C2.81413 9.48086 2.97988 9.21846 3.05845 8.92529C3.13703 8.63212 3.12471 8.322 3.02313 8.03599L2.61613 6.89795C2.57769 6.79092 2.56302 6.6768 2.57316 6.56353C2.5833 6.45026 2.618 6.34056 2.67484 6.24206C2.73168 6.14356 2.8093 6.05863 2.9023 5.99317C2.99529 5.92771 3.10143 5.8833 3.21334 5.86303L4.40225 5.64624C4.701 5.59192 4.97604 5.44769 5.19059 5.23282C5.40545 5.01827 5.54969 4.74323 5.604 4.44449L5.82079 3.25557C5.84127 3.14379 5.88581 3.03779 5.95132 2.94494C6.01684 2.85208 6.10177 2.77458 6.20022 2.71781C6.29867 2.66104 6.40829 2.62636 6.52147 2.61618C6.63466 2.60599 6.74871 2.62054 6.85571 2.65882L7.99375 3.06536C8.2797 3.16753 8.58999 3.18015 8.88329 3.10155C9.17659 3.02294 9.43898 2.85684 9.6355 2.62536L10.4179 1.70457Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.77124 11.3144L9.36357 13.9067C9.44952 13.9926 9.56608 14.0409 9.68761 14.0409C9.80915 14.0409 9.9257 13.9926 10.0117 13.9067L15.1963 8.72206C15.2798 8.63561 15.326 8.51984 15.325 8.39966C15.3239 8.27949 15.2757 8.16453 15.1907 8.07956C15.1058 7.99458 14.9908 7.94637 14.8706 7.94533C14.7505 7.94429 14.6347 7.99048 14.5482 8.07397L9.68761 12.9346L7.41932 10.6663C7.33288 10.5828 7.2171 10.5366 7.09693 10.5377C6.97676 10.5387 6.8618 10.5869 6.77682 10.6719C6.69184 10.7569 6.64364 10.8718 6.6426 10.992C6.64155 11.1122 6.68775 11.2279 6.77124 11.3144Z" fill="white"/>
      </g>
      <defs>
        <clipPath id="clip0_784_11062">
          <rect width="22" height="22" fill="white"/>
        </clipPath>
      </defs>
    </svg>
      {{ section.settings.badge }}
    </span>
  {% endif %}
  {% if section.settings.title != blank %}
   <h2>{{ section.settings.title }}</h2>
  {% endif %}
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "sectionId",
      "label": "Section id for tab"
    },
    {
      "type": "text",
      "id": "badge",
      "default": "verified reviews",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "title",
      "default": "join our customer community",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
