<link rel="stylesheet" href="{{ 'custom-video-controll.css' | asset_url }}">
<script src="{{ 'custom-video-controll.js' | asset_url }}" defer="defer"></script>

<section class="video-controll">
  {% if section.settings.video != blank %}
    {{section.settings.video | video_tag: autoplay: true, loop: true, width: '100%', height: '100%', class: 'video-controll__video'}}
  {% endif %}
  <button
    type="button"
    data-state="play"
    class="video-controll__btn"
  >
    <svg fill="#ffffff33" height="73px" width="73px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" stroke="#ffffff33" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M256,0C114.842,0,0,114.842,0,256s114.842,256,256,256s256-114.842,256-256S397.158,0,256,0z M256,465.455 c-115.493,0-209.455-93.961-209.455-209.455S140.507,46.545,256,46.545S465.455,140.507,465.455,256S371.493,465.455,256,465.455z "></path> </g> </g> <g> <g> <path d="M318.061,139.636c-12.853,0-23.273,10.42-23.273,23.273v186.182c0,12.853,10.42,23.273,23.273,23.273 c12.853,0,23.273-10.42,23.273-23.273V162.909C341.333,150.056,330.913,139.636,318.061,139.636z"></path> </g> </g> <g> <g> <path d="M193.939,139.636c-12.853,0-23.273,10.42-23.273,23.273v186.182c0,12.853,10.42,23.273,23.273,23.273 c12.853,0,23.273-10.42,23.273-23.273V162.909C217.212,150.056,206.792,139.636,193.939,139.636z"></path> </g> </g> </g></svg>
  </button>
  <div class="video-controll__content">
    <h3 class="video-controll__text-content h1">{{section.settings.text_content}}</h3>
    {%if section.settings.text_link != blank%}
    <a href="{{section.settings.url}}" class="video-controll__link butn butn__new"><span>{{section.settings.text_link}}</span></a>
    {%endif%}
  </div>
</section>
{% schema %}
  {
    "name": "Video with controll",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label" : "Video"
      },
      {
        "type": "text",
        "id": "text_content",
        "label": "Text content"
      },
      {
        "type": "text",
        "id": "text_link",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Video with controll"
      }
    ]
  }
{% endschema %}