<link rel="stylesheet" href="{{ 'custom-video-controll.css' | asset_url }}">
<script src="{{ 'custom-video-controll.js' | asset_url }}" defer="defer"></script>

<section class="video-controll">
  {% if section.settings.video != blank %}
    <div class="video-controll__video">
      {{section.settings.video | video_tag: autoplay: true, loop: true, width: '100%', height: '100%', class: 'video-controll__video'}}
    </div>
  {% endif %}
  <button
    type="button"
    data-state="play"
    class="video-controll__btn"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43" fill="none">
      <path d="M18.8125 13.4375H16.125V29.5625H18.8125V13.4375ZM26.875 13.4375H24.1875V29.5625H26.875V13.4375Z" fill="white" fill-opacity="0.5"/>
      <path d="M21.5 5.375C24.6892 5.375 27.8068 6.32071 30.4586 8.09255C33.1103 9.86439 35.1771 12.3828 36.3976 15.3292C37.618 18.2757 37.9374 21.5179 37.3152 24.6458C36.693 27.7738 35.1572 30.647 32.9021 32.9021C30.647 35.1572 27.7738 36.693 24.6458 37.3152C21.5179 37.9373 18.2757 37.618 15.3292 36.3976C12.3828 35.1771 9.8644 33.1103 8.09256 30.4586C6.32072 27.8068 5.37501 24.6892 5.37501 21.5C5.37501 17.2234 7.07389 13.1219 10.0979 10.0979C13.1219 7.07388 17.2234 5.375 21.5 5.375ZM21.5 2.6875C17.7792 2.6875 14.142 3.79083 11.0483 5.85798C7.95464 7.92512 5.5434 10.8632 4.11952 14.3008C2.69565 17.7383 2.3231 21.5209 3.04899 25.1701C3.77487 28.8194 5.56659 32.1715 8.19756 34.8024C10.8285 37.4334 14.1806 39.2251 17.8299 39.951C21.4791 40.6769 25.2617 40.3044 28.6992 38.8805C32.1368 37.4566 35.0749 35.0454 37.142 31.9517C39.2092 28.858 40.3125 25.2208 40.3125 21.5C40.3125 16.5106 38.3305 11.7256 34.8025 8.19755C31.2744 4.66953 26.4894 2.6875 21.5 2.6875Z" fill="white" fill-opacity="0.5"/>
    </svg>
  </button>
  <div class="video-controll__content">
    <h3 class="video-controll__text-content">{{section.settings.text_content}}</h3>
    {%if section.settings.text_link != blank%}
    <a href="{{section.settings.url}}" class="video-controll__link button_custom"><span>{{section.settings.text_link}}</span></a>
    {%endif%}
  </div>
</section>
{% schema %}
  {
    "name": "Video with controll",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label" : "Video"
      },
      {
        "type": "text",
        "id": "text_content",
        "label": "Text content"
      },
      {
        "type": "text",
        "id": "text_link",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Video with controll"
      }
    ]
  }
{% endschema %}