{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

{{ 'custom-collection-grid-ovens.css' | asset_url | stylesheet_tag }}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>

{%- style -%}
    .section-{{ section.id }} {
      padding-top: {{ section.settings.space_top }}px;
      padding-bottom: {{ section.settings.space_bottom }}px;
      padding-left: 51px;
      padding-right: 51px;
      background: {{ section.settings.back_color }}
    }

    @media screen and (max-width: 768px) {
      .section-{{ section.id }} {
        padding-top: {{ section.settings.space_top_mobile }}px;
        padding-bottom: {{ section.settings.space_bottom_mobile }}px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
{%- endstyle -%}

{% assign products = collection.products %}
{% if section.settings.product_list != blank %}
  {% assign products = section.settings.product_list %}
  {% endif %}
<div class="section-{{ section.id }} custom-collection">

        {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
        <div class="custom-collection__wrapper">
            <div
                    class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    id="ProductGridContainer"
                    {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                    {% endif %}
            >
              {% if section.settings.title != blank %}
                <h2 class="product-grid-title h1">
                    {{ section.settings.title }}
                </h2>
                {% endif %}
                {%- if collection.products.size == 0 -%}
                    <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
                        <div class="loading-overlay gradient"></div>
                        <div class="title-wrapper center">
                            <h2 class="title title--primary">
                                {{ 'sections.collection_template.empty' | t -}}
                                <br>
                                {{
                                'sections.collection_template.use_fewer_filters_html'
                                | t: link: collection.url, class: 'underlined-link link'
                                }}
                            </h2>
                        </div>
                    </div>
                {%- else -%}
                    <div class="collection">
                        <div class="loading-overlay gradient"></div>

                        <ul
                                id="product-grid"
                                data-id="{{ section.id }}"
                                class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
              "
                        >
                            {%- for product in products -%}
                                {% assign lazy_load = false %}
                                {%- if forloop.index > 2 -%}
                                    {%- assign lazy_load = true -%}
                                {%- endif -%}
                                <li
                                        class="collection-item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                                        {% if settings.animations_reveal_on_scroll %}
                                            data-cascade
                                            style="--animation-order: {{ forloop.index }};"
                                        {% endif %}
                                >
                                    {% render 'custom-featured-product-card',
                                            product: product,
                                            section: section,
                                            index: forloop.index,
                                            list_description: section.settings.hide_list_in_description
                                    %}
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                {%- endif -%}
            </div>
        </div>
    {% if section.settings.image_shape == 'arch' %}
        {% render 'mask-arch' %}
    {%- endif -%}
</div>

{% schema %}
{
  "name": "Custom collection ovens",
  "class": "section",
  "settings": [
    {
  "type": "product_list",
  "id": "product_list",
  "label": "Products",
  "limit": 12
},
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "back_color",
      "label": "Background color"
    },
    {
      "type": "checkbox",
      "id": "hide_list_in_description",
      "label": "Hide list in description",
      "default": false
    },
    {
      "type": "header",
      "content": "Space desktop"
    },
    {
      "type": "range",
      "id": "space_top",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "space_bottom",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "header",
      "content": "Space mobile"
    },
    {
      "type": "range",
      "id": "space_top_mobile",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "space_bottom_mobile",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Custom collection ovens"
    }
  ]
}
{% endschema %}
