<style>
    .section-{{ section.id }} {
        padding-top: {{ section.settings.st }}px;
        padding-bottom: {{ section.settings.sb }}px;
        background: {{ section.settings.bg_color }};
    }

    @media screen and (max-width: 768px) {
        .section-{{ section.id }} {
            padding-top: {{ section.settings.stm }}px;
            padding-bottom: {{ section.settings.sbm }}px;
        }
    }

    .press-media-list {
        gap: 1.6rem;
    }

</style>
<style>
    .press-media p {
        margin: 0;
    }

    .press-media-wrapper {
        display: flex;
        gap: 1.6rem;
        justify-content: space-between;
    }

    .press-media-title {
        width: 16.66%;
        padding-top: 1.6rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: -0.01em;
        margin: 0;
    }

    .press-media-list {
        display: flex;
        gap: 1.6rem;
        width: 100%;
        flex-wrap: wrap;
    }

    .press-media-item-image img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition-duration: 300ms;
    }
    .press-media-item-image.zoom_hover img:hover{
        transform: scale(1.2);
        transition-duration: 300ms;
    }
    .press-media-item-image {
        position: relative;
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .press-media-item-image:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .press-media-item-image.size-small:before {
        padding-top: 54.1%;
    }

    .image_with_text-block .press-media-item-image:before {
        content: '';
        display: block;
        padding-top: 75%;
    }

    .press-media-item {
        width: calc(20% - (4 * 1.6rem) / 5);
    }

    .image_with_text-block {
        width: 25.8%;
    }

    .press-media-item > :last-child {
        margin-bottom: 0;
    }

    .press-media-item-title {
        font-family: var(--font-heading-family);
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        margin: 0;
        margin-bottom: 10px;
        font-size: calc(1.84rem + 0.3vw);
        color: #171719;
        text-decoration: none;
        transition-duration: 300ms;
    }
    a.press-media-item-title:hover {
        color:#d0672a;
        transition-duration: 300ms;
        text-decoration: underline;
    }

    .block-text_block .press-media-item-title {
        font-family: var(--font-heading-family);
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: -0.01em;
        margin: 0;
        margin-bottom: 6px;
    }

    .block-text_block .press-media-item-text {

    }
    .press-media-item-text strong{
        font-weight: 600;
    }
    .press-media-item-text {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.02em;
        margin-bottom: 13px;
        margin-top: 0;
        color: #171719;
        line-height: 1.5;
        transition-duration: 300ms;
    }

    .press-media-item-text p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.06em;
        margin-bottom: 13px;
        margin-top: 0;
        transition-duration: 300ms;
        line-height: 130%;
    }

    .press-media-item-image_main {
        font-family: var(--font-heading-family);
        position: absolute;
        top: 32px;
        left: 16px;
        padding: 6px 12px;
        background: #fff;
        font-weight: 600;
        letter-spacing: 0.04em;
        line-height: 1.2em;
        transition-duration: 300ms;
    }
    .press-media-item-image:hover .press-media-item-image_main{
        background: #3F444A;
        color: #171719;
    }

    .block-text_block {
        padding: 16px 16px 32px 16px;
        height: auto;
    }
    .press-media-item-image_url{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 990px) {
        .press-media-title {
            width: 100%;
            font-size: calc(2.100rem + 2.0vw);
            padding: 16px 0;
            margin-bottom: 10px;
        }

        .press-media-wrapper {
            flex-wrap: wrap;
        }

        .press-media-list {
            flex-wrap: wrap;
        }

        .press-media-item {
            width: 100% !important;
        }

        .press-media-item-image_main {
            top: 16px;
        }

        .press-media-item-title {
            font-size: calc(1.900rem + 0.4vw);
        }

        .block-text_block .press-media-item-title {
            font-size: calc(2.100rem + 2.0vw);
        }

    }
    .obg_fit-cover img{
        object-fit: cover;
    }
    .obg_fit-contain img{
        object-fit: contain;
    }
  .link-full-width{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
  }
</style>

<div class="press-media section-{{ section.id }}">
    <div class="press-media-wrapper page-width">
        <h2 class="press-media-title">
            {{ section.settings.title }}
        </h2>
        <div class="press-media-list">
            {% for block in section.blocks %}
                {%- case block.type -%}
                    {%- when 'image_with_text' -%}
                        <div class="press-media-item image_with_text-block">
                            {% if block.settings.image != blank %}
                                <div class="press-media-item-image zoom_hover">
                                    <img src="{{ block.settings.image.src | img_url: "master" }}"
                                         alt="{{ block.settings.image.alt }}">
                              {% if block.settings.url != blank %}
                                  <a class="link-full-width" href={{ block.settings.url }}> </a>
                              {% endif %}
                                </div>
                            {% endif %}
                            {% if block.settings.title != blank %}
                                {% if block.settings.url != blank %}
                                  <a href="{{ block.settings.url }}" class="press-media-item-title">
                                        {{ block.settings.title }}
                                    </a>
                              
                                    {% else %}
                                    <div class="press-media-item-title">
                                        {{ block.settings.title }}
                                    </div>
                                {% endif %}

                            {% endif %}
                            {% if block.settings.text != blank %}
                                <div class="press-media-item-text">
                                    {{ block.settings.text }}
                                </div>
                            {% endif %}
                        </div>
                    {%- when 'image' -%}
                        <div class="press-media-item">
                            {% if block.settings.image != blank %}
                                <div class="press-media-item-image obg_fit-{{ block.settings.obg_fit }} size-{{ block.settings.image_ratio }}">
                                    {%- capture sizes -%}
                                         {{ settings.page_width | divided_by: 5 | round }}px}}
                                    {%- endcapture -%}

                                    {{ block.settings.image | image_url: width: 1946 | image_tag:
                                    loading: lazy,
                                    sizes: sizes,
                                    widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
                                    }}
                                    {% if block.settings.main_image == true %}
                                        <div class="press-media-item-image_main">
                                            {{ block.settings.main_image_text }}
                                        </div>
                                    {% endif %}
                                    {% if block.settings.url == true %}
                                      {% assign url = block.settings.image.src | img_url: "master" %}
                                      {% if block.settings.own_url != blank %}
                                        {% assign url = block.settings.own_url %}
                                        {% endif %}
                                        <a href="{{ url }}" class="press-media-item-image_url">

                                        </a>
                                    {% endif %}

                                </div>
                            {% endif %}
                        </div>
                    {% when 'text_block' %}
                        <div style="background: {{ block.settings.bg_color }};"
                             class="press-media-item block-text_block">
                            <div style=" color: {{ block.settings.text_color }}" class="press-media-item-title">
                                {{ block.settings.title }}
                            </div>
                            <div style=" color: {{ block.settings.text_color }}" class="press-media-item-text">
                                {{ block.settings.text }}
                            </div>
                        </div>
                {% endcase %}
            {% endfor %}
        </div>


    </div>
</div>

{% schema %}
{
  "name": "Press-media",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#F4F4F6",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Space desktop"
    },
    {
      "type": "range",
      "id": "st",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "sb",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "header",
      "content": "Space mobile"
    },
    {
      "type": "range",
      "id": "stm",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "sbm",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    }
  ],
  "blocks": [
    {
      "type": "image_with_text",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    },
    {
      "type": "text_block",
      "name": "Text block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>text</p>"
        },
        {
          "type": "color",
          "id": "bg_color",
          "default": "#000",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#fff",
          "label": "Text color"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "checkbox",
          "id": "main_image",
          "default": false,
          "label": "Main image"
        },
        {
          "type": "text",
          "id": "main_image_text",
          "default": "Main image",
          "label": "Text for main image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "small",
              "label": "Small"
            }
          ],
          "default": "normal",
          "label": "Image ratio"
        },
        {
          "type": "select",
          "id": "obg_fit",
          "options": [
            {
              "value": "cover",
              "label": "Cover"
            },
            {
              "value": "contain",
              "label": "Contain"
            }
          ],
          "default": "cover",
          "label": "Image size"
        },
        {
          "type": "checkbox",
          "id": "url",
          "default": false,
          "label": "Image url"
        },
        {
          "type": "url",
          "id": "own_url",
          "label": "Custom url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Press-media"
    }
  ]
}
{% endschema %}