<style>
  .section-{{ section.id }}{
    padding-top: {{ section.settings.st }}px;
    padding-bottom: {{ section.settings.sb }}px;
    background: {{ section.settings.bg_color }};
  }

  @media screen and (max-width: 768px){
    .section-{{ section.id }}{
      padding-top: {{ section.settings.stm }}px;
      padding-bottom: {{ section.settings.sbm }}px;
    }
  }
</style>
<link rel="stylesheet" href="{{ 'custom-rich-text-banner.css' | asset_url }}">

{% if section.settings.title != blank %}
  <div class="richtext_banner section-{{ section.id }}">
    <div class="richtext_banner-wrapper page-width">
      <h1 class="richtext_banner-title">
        {{ section.settings.title }}
      </h1>
      {% if section.settings.text != blank %}
        <div class="richtext_banner-text">
          {{ section.settings.text }}
        </div>
      {% endif %}

    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Richtext banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Some text</p>",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#fff",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Space desktop"
    },
    {
      "type": "range",
      "id": "st",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 100
    },
    {
      "type": "range",
      "id": "sb",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 90
    },
    {
      "type": "header",
      "content": "Space mobile"
    },
    {
      "type": "range",
      "id": "stm",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "sbm",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 70
    }
  ],
  "presets": [
    {
      "name": "Richtext banner"
    }
  ]
}
{% endschema %}