<style>
    .section-{{ section.id }} {
        padding-top: {{ section.settings.space_top }}px;
        padding-bottom: {{ section.settings.space_bottom }}px;
        background: {{ section.settings.bg_color }};
    }

    @media screen and (max-width: 768px) {
        .section-{{ section.id }} {
            padding-top: {{ section.settings.space_top_mobile }}px;
            padding-bottom: {{ section.settings.space_bottom_mobile }}px;
        }
    }

    .press-media-list {
        gap: 1.6rem;
    }

</style>

<link rel="stylesheet" href="{{ 'custom-press-media.css' | asset_url }}">

<div class="press-media section-{{ section.id }}">
    <div class="press-media-wrapper page-width">
        <h2 class="press-media-title">
            {{ section.settings.title }}
        </h2>
        {% for block in section.blocks %}
            {%- case block.type -%}
                {%- when 'image_with_text' -%}
                    <div class="press-media-item image_with_text-block">
                        {% if block.settings.image != blank %}
                        <{% if block.settings.url != blank %}a href="{{ block.settings.url }}" {% else %}div {% endif %}
                                class="press-media-item-image {% if block.settings.url != blank %}zoom_hover{% endif %}">
                            <img src="{{ block.settings.image.src | img_url: "master" }}"
                                 alt="{{ block.settings.image.alt }}">
                            </{% if block.settings.url != blank %}a{% else %}div {% endif %}>
                            {% endif %}
                            {% if block.settings.title != blank %}
                                <h3 class="press-media-item-title">
                                {% if block.settings.url != blank %}
                                    <a href="{{ block.settings.url }}" class="press-media-item-title">
                                        {% endif %}
                                        {{ block.settings.title }}
                                        {% if block.settings.url != blank %}
                                    </a>
                                    {% endif %}
                                </h3>
                            {% endif %}
                            {% if block.settings.text != blank %}
                                <p class="press-media-item-text">
                                    {{ block.settings.text }}
                                </p>
                            {% endif %}
                    </div>
                {%- when 'image' -%}
                    {% assign url = false %}
                    {% if block.settings.image != blank %}
                        {% if block.settings.url == true %}
                            {% assign url = block.settings.image.src | img_url: "master" %}
                        {% endif %}
                        {% if block.settings.own_url != blank %}
                            {% assign url = block.settings.own_url %}
                        {% endif %}
                    {% endif %}
                    <{% if url == false %}div{% else %}a href="{{ url }}"{% endif %} class="press-media-item">

                        <div class="press-media-item-image obg_fit-{{ block.settings.obg_fit }} size-{{ block.settings.image_ratio }}">
                            {%- capture sizes -%}
                                {{ settings.page_width | divided_by: 5 | round }}px}}
                            {%- endcapture -%}

                            {{ block.settings.image | image_url: width: 1946 | image_tag:
                            loading: "lazy",
                            sizes: sizes,
                            widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
                            }}
                            {% if block.settings.main_image == true and block.settings.main_image_text != blank %}
                                <span class="press-media-item-image_main">
                                            {{ block.settings.main_image_text }}
                                        </span>
                            {% endif %}


                        </div>
                    </{% if url == false %}div{% else %}a{% endif %}>
                {% when 'text_block' %}
                    <div style="background: {{ block.settings.bg_color }};"
                         class="press-media-item block-text_block">
                        {% if block.settings.title != blank %}
                            <h3 style=" color: {{ block.settings.text_color }}" class="press-media-item-title">
                                {{ block.settings.title }}
                            </h3>
                        {% endif %}
                        {% if block.settings.text != blank %}
                            <div style=" color: {{ block.settings.text_color }}" class="press-media-item-text">
                                {{ block.settings.text }}
                            </div>
                        {% endif %}

                    </div>
            {% endcase %}
        {% endfor %}
    </div>


</div>
</div>

{% schema %}
{
  "name": "Press-media",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#F4F4F6",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Space desktop"
    },
    {
      "type": "range",
      "id": "space_top",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "space_bottom",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "header",
      "content": "Space mobile"
    },
    {
      "type": "range",
      "id": "space_top_mobile",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "space_bottom_mobile",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    }
  ],
  "blocks": [
    {
      "type": "image_with_text",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    },
    {
      "type": "text_block",
      "name": "Text block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>text</p>"
        },
        {
          "type": "color",
          "id": "bg_color",
          "default": "#000",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#fff",
          "label": "Text color"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "checkbox",
          "id": "main_image",
          "default": false,
          "label": "Main image"
        },
        {
          "type": "text",
          "id": "main_image_text",
          "default": "Main image",
          "label": "Text for main image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "small",
              "label": "Small"
            }
          ],
          "default": "normal",
          "label": "Image ratio"
        },
        {
          "type": "select",
          "id": "obg_fit",
          "options": [
            {
              "value": "cover",
              "label": "Cover"
            },
            {
              "value": "contain",
              "label": "Contain"
            }
          ],
          "default": "cover",
          "label": "Image size"
        },
        {
          "type": "checkbox",
          "id": "url",
          "default": false,
          "label": "Image url"
        },
        {
          "type": "url",
          "id": "own_url",
          "label": "Custom url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Press-media"
    }
  ]
}
{% endschema %}