<section class="video-controll">
  {{section.settings.video | video_tag: autoplay: true, loop: true, width: '100%', height: '100%', class: 'video-controll__video'}}
  <button
    type="button"
    data-state="play"
    class="video-controll__btn"
  >
    {{section.settings.icon-pause}}
  </button>
  {% for block in section.blocks %}
    <div class="video-controll__content">
      <h3 class="video-controll__text-content h1">{{block.settings.text-content}}</h3>
      <a href="#" class="video-controll__link">{{block.settings.text-link}}</a>
    </div>
  {%endfor%}
</section>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    const video = document.querySelector('.video-controll__video');
    const btn = document.querySelector('.video-controll__btn');
    
    function toggleVideo() {
      if (btn.getAttribute('data-state') === 'play') {
        console.log('Pause video');
        btn.setAttribute('data-state', 'pause');
        video.pause();
        btn.innerHTML = '{{section.settings.icon-play}}'; // Змінюємо на іконку play
      } else {
        console.log('Play video');
        btn.setAttribute('data-state', 'play');
        video.play();
        btn.innerHTML = '{{section.settings.icon-pause}}'; // Змінюємо на іконку pause
      }
    }
    video.addEventListener('click', toggleVideo);
    btn.addEventListener('click', toggleVideo);
  });
</script>
<style>
  .video-controll {
    position: relative;
    background: #E0DED4;
  }
  .video-controll__video {
  }
  .video-controll__btn {
    width: 36px;
    height: 36px;
    position: absolute;
    background-color: transparent;
    margin-top: 48px;
    right: 121px;
    border: none;
    padding: 0;
  }
  .video-controll__btn > svg {
    display: block;
    margin: auto;
  }
  .video-controll__content {
    position: absolute;
    left: 48px;
    top: 177px;
    color: #fff;
  }
  .video-controll__text-content.h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    max-width: 877px;
    margin: 0;
    padding-bottom: 48px;
    color: #fff;
  }
  @media (max-width: 1200px) {
    .video-controll__text-content.h1 {
      font-size: 60px;
    }
    .video-controll__content {
      top: 108px;
    }
  }
  @media (max-width: 992px) {
    .video-controll__content {
      position: static;
      padding: 24px 48px 32px 48px;
    }
    .video-controll__text-content.h1 {
      color: #171719;
    }
  }
  @media (max-width: 768px) {
    .video-controll__text-content.h1{
      font-size: 40px;
    }
    .video-controll__btn {
      margin-top: 10px;
      right: 48px;
    }


  }
  @media (max-width: 576px) {
    .video-controll__btn {
      right: 25px;
    }
    .video-controll__btn > svg{
      width: 50px;
      height: 50px;
    }
  }

  .video-controll__link {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    border-radius: 50px;
    padding: 25px 75px;
    background-color: #D0672A;
    text-decoration: none;
    transition: background-color .3s ease-in;
  }
  .video-controll__link:hover{
    background-color: #a55222;
  }
</style>

{% schema %}
  {
    "name": "custom-video-controll",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label" : "Select video"
      },
      {
        "type": "html",
        "id": "icon-pause",
        "label": "Icon pause"
      },
      {
        "type": "html",
        "id": "icon-play",
        "label": "Icon plaay"
      }
    ],
    "blocks": [
      {
        "type": "text-block",
        "name": "Text block",
        "settings" : [
          {
            "type": "text",
            "id": "text-content",
            "label": "Text content"
          },
          {
            "type": "text",
            "id": "text-link",
            "label": "Text for link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "custom-video-controll"
      }
    ]
  }
{% endschema %}