<link rel="stylesheet" href="{{ 'custom-product-list.css' | asset_url }}">
<script src="{{ 'custom-product-list.js' | asset_url }}" defer="defer"></script>

<secrion class="product-list">
  <div class="product-list__container">
    <div class="product-list__wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'content' %}
          <div class="product-list__content content">
            {% if block.settings.subTitle != blank %}
              <h4 class="content__subtitle h1">{{ block.settings.subTitle }}</p>
            {%endif%}

            {%if block.settings.title != blank%}
              <h3 class="content__title h1">{{ block.settings.title }}</h3>
            {%endif%}

            {% if block.settings.text_button != blank %}
              <a href="{{block.settings.url_button}}" class="content__link regular button_custom">
                {{ block.settings.text_button }}
                {{ block.settings.icon_button }}
              </a>
            {% endif %}
          </div>
          {% when 'goods' %}
            <div class="product-list__product product product-{{block.id}}">
              {% if block.settings.product.featured_image != blank %}
                <a class="product-list__product-media" href="{{block.settings.product.url}}">
                  {{ block.settings.product.featured_image | image_url: width: 280 | image_tag: lazyload: 'lazy' }}
                </a>
              {% endif %} 
              <div class="product-list__product-info">
                <a href="{{block.settings.product.url}}" class="product__name h2">{{ block.settings.product.title }}</a>
                <p class="product__price">{{ block.settings.product.price | money }}</p>
                <div class="product__buttons">
                  {% if section.settings.text_add != blank %}
                    <button
                            type="button"
                            data-id="{{block.settings.product.first_available_variant.id}}"
                            class="product__add button_custom regular">
                      {{ section.settings.text_add }}
                    </button>
                  {%endif%}

                  {%if section.settings.text_det != blank%}
                    <a href="{{block.settings.product.url}}" class="product__det regular button_custom">{{ section.settings.text_det }}</a>
                  {%endif%}
                </div>
              </div>

            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</secrion>
{% style %}
  .product-list {
    display: block;
    background-image:linear-gradient(90deg,rgba(0,0,0,0.50), rgba(34, 34, 35, 0.50)),url("{{section.settings.bc-image | image_url}}");
  }
{% endstyle %}

{% schema %}
  {
    "name": "Product list",
    "settings": [
      {
        "type": "image_picker",
        "id": "bc-image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "text_add",
        "label": "First button label"
      },
      {
        "type": "text",
        "id": "text_det",
        "label": "Second button label"
      }
    ],
    "blocks": [
      {
        "type": "goods",
        "name": "goods",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }, {
        "type": "content",
        "name": "content block",
        "settings": [
          {
            "type": "text",
            "id": "subTitle",
            "label": "Subtitle"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "text",
            "id": "text_button",
            "label": "Button label"
          }, {
            "type": "html",
            "id": "icon_button",
            "label": "Icon for button"
          },
          {
            "type": "url",
            "id": "url_button",
            "label": "Url for button"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product list"
      }
    ]
  }
{% endschema %}