<link rel="stylesheet" href="{{ 'custom-collection-list.css' | asset_url }}">

<section class="custom-collection-list">
  <div class="page-width">
    {%if section.settings.title != blank%}
      <h1 class="custom-collection-list__title h1">{{ section.settings.title }}</h1>
    {%endif%}
    <div class="custom-collection-list__wrapper">
      {% for item in section.blocks %}
        <div class="custom-collection-list__item">
          <a href="{{item.settings.collection.url}}">
            {{ item.settings.collection.featured_image | image_url: width:592 | image_tag }}
          </a>
          <a class="custom-collection-list__link" href="{{item.settings.collection.url}}">{{item.settings.collection.title}}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
    "name": "Custom collection list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "collection-item",
        "name":"Collection item",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ] 
      }
    ],
    "presets": [
      {
        "name": "Custom collection list"
      }
    ]
  }
{% endschema %}