{{ 'custom-media-with-text.css' | asset_url | stylesheet_tag }}

<style>
    .section-{{ section.id }} {
        padding-top: {{ section.settings.space_top }}px;
        padding-bottom: {{ section.settings.space_bottom }}px;
        background: {{ section.settings.bg_color }};
    }

    .section-{{ section.id }} .page-width {
      padding-left: 48px;
      padding-right: 48px;
    }

    @media screen and (max-width: 768px) {
      .section-{{ section.id }} {
        padding-top: {{ section.settings.space_top_mobile }}px;
        padding-bottom: {{ section.settings.space_bottom_mobile }}px;
      }

      .section-{{ section.id }} .page-width {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
</style>


{% if section.settings.image != blank or section.settings.video != blank %}
    <div {%  if section.settings.sectionId != blank %}data-custom-section-id="{{ section.settings.sectionId }}"{% endif %} class="media-with-text section-{{ section.id }}">
        <div class="page-width">
            <div class="media-with-text__wrapper {% if section.settings.media_left == true %}reverse{% endif %}">
                <div class="media-with-text__content-block">
                    {% if section.settings.image_text != blank %}
                        <div class="media-with-text__icon">
                            <img src="{{ section.settings.image_text.src | img_url }}"
                                 alt="{{ section.settings.image_text.alt }}">
                        </div>
                    {% endif %}
                  {% if section.settings.title != blank %}
                    <h2 class="media-with-text__title">
                      {{ section.settings.title }}
                    </h2>
                  {% endif %}
                  {% if section.settings.text != blank %}
                    <div class="media-with-text__text">
                      {{ section.settings.text }}
                    </div>
                  {% endif %}
                </div>
                <div class="media-with-text__media-block">
                    <div class="media-with-text__media-wrapper">

                        {% if section.settings.video != blank %}
                            {{
                            section.settings.video
                            | video_tag: image_size: '600x', loop: true, controls: true, muted: false, autoplay: section.settings.autoplay
                            }}
                        {% else %}
                            <img src="{{ section.settings.image.src | img_url: "large" }}"
                                 alt="{{ section.settings.image.alt }}">
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
  "name": "Image or video with text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Some text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image_text",
      "label": "Image for text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": false,
      "label": "Autoplay"
    },
    {
      "type": "checkbox",
      "id": "media_left",
      "default": false,
      "label": "Image or video left"
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#F4F4F6",
      "label": "Background color"
    },
    {
      "type": "text",
      "id": "sectionId",
      "label": "Id section for tabs in header"
    },
    {
      "type": "header",
      "content": "Space desktop"
    },
    {
      "type": "range",
      "id": "space_top",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "space_bottom",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "header",
      "content": "Space mobile"
    },
    {
      "type": "range",
      "id": "space_top_mobile",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "space_bottom_mobile",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Image or video with text"
    }
  ]
}
{% endschema %}
