<link rel="stylesheet" href="{{ 'custom-blog-list.css' | asset_url }}">
<section class="custom-blog-list">
  <div class="custom-blog-list__container">
    <h1 class="custom-blog-list__title h1">{{ section.settings.title }}</h3>
    <div class="custom-blog-list__wrapper">
      {% for article in section.settings.blog.articles %}
        <div class="custom-blog-list__article article">
          {% if article.image != blank %}
            <a href="{{article.url}}" class="article__image">{{ article.image | image_url: height: 235 | image_tag }}</a>
          {% endif %}
          {% if article.title != blank %}
            <a href="{{ article.url}}" class="article__title h2">{{ article.title }}</a>
          {%endif%}
          {% if article.content%}
            <p class="article__content regular">{{ article.content }}</p>
          {%endif%}
          {% if section.settings.show_link == true %}
            <a href="{{article.url}}" class="article__link regular">
              {{ section.settings.text_link }}
              {{ section.settings.icon_link }}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {%if section.settings.text_btn != blank %}
      <a href="{{section.settings.blog.url}}" class="custom-blog-list__link regular">{{section.settings.text_btn}}</a>
    {%endif%}
  </div>
</section>

{% schema %}
  {
    "name": "Blog list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text_btn",
        "label": "Button label"
      },
      {
        "type": "checkbox",
        "id": "show_link",
        "label": "Show button in the article",
        "default": true
      },
      {
        "type": "text",
        "id": "text_link",
        "default": "Read more",
        "label": "Button label for article"
      },
      {
        "type": "html",
        "id": "icon_link",
        "label": "Icon for article button"
      }, {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Blog list"
      }
    ]
  }
{% endschema %}