{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'custom-section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile}}px;
    background: {{ section.settings.bg_color }}
  }
  @media screen and (max-width: 768px) {
  .section-{{ section.id }}-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 6 -%}
  <div class="main-blog section-{{ section.id }}-padding">
    <div class="main-blog--wrapper">
      <h1 class="main-blog__title title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ blog.title | escape }}
      </h1>
      {% if section.settings.description != blank %}
        <p class="main-blog__description">
          {{ section.settings.description }}
        </p>
      {% endif %}
      <div class="blog-categories">
        <ul class="blog-categories__list">
          <li class="blog-categories__item">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
              <g clip-path="url(#clip0_449_922)">
                <path d="M31.2037 32.8082L16.1502 6.73467C7.60242 12.4464 1.79695 21.9312 1.10352 32.8082H31.2037Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 30.6162L50.0532 4.54211C45.5151 2.29473 40.4064 1.02558 34.9992 1.02558C29.592 1.02558 24.4834 2.29473 19.9453 4.54211L34.9992 30.6162Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M60.2072 32.8082H68.8971C68.2038 21.9312 62.3982 12.4464 53.8505 6.73467L38.7969 32.8082H55.8236" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.7969 37.1919L53.8504 63.2655C62.398 57.5538 68.2036 48.069 68.8971 37.1919H38.7969Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 39.384L19.9453 65.4582C24.4834 67.7056 29.592 68.9747 34.9992 68.9747C40.4064 68.9747 45.5151 67.7056 50.0532 65.4582L34.9992 39.384Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.982 53.1642L31.2036 37.1921H1.10352C1.79681 48.069 7.60242 57.5538 16.1501 63.2656L19.8138 56.9196" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.6412 8.72142C47.1021 8.60015 46.573 8.4592 46.0784 8.25412C44.3128 7.52185 42.7881 5.87522 40.869 5.49569C39.0065 5.12723 36.9709 6.05828 35.0002 6.05828C33.0296 6.05828 30.9938 5.12723 29.1314 5.49569C27.2121 5.87536 25.6872 7.52199 23.9214 8.25425C23.427 8.45933 22.8982 8.60029 22.3594 8.72156" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.1094 10.1303C16.6234 11.24 15.8444 13.2247 14.5335 14.5355C13.1693 15.8999 11.0654 16.68 9.98817 18.289C8.91917 19.8857 8.99779 22.1256 8.25295 23.9219C7.52068 25.6877 5.87418 27.2122 5.49452 29.1313C5.26182 30.3078 5.54715 31.5536 5.78928 32.8082" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M64.2088 32.8082C64.4509 31.5534 64.7362 30.3078 64.5035 29.1312C64.1239 27.2121 62.4771 25.6871 61.745 23.9214C60.9999 22.1248 61.0783 19.8848 60.0092 18.2879C58.932 16.679 56.8279 15.8989 55.4636 14.5346C54.153 13.2241 53.3738 11.2402 51.8887 10.1305" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M51.8906 59.8698C53.3765 58.7601 54.1556 56.7755 55.4665 55.4646C56.8307 54.1003 58.9346 53.3202 60.0118 51.7111C61.0808 50.1144 61.0022 47.8746 61.7471 46.0782C62.4793 44.3125 64.1258 42.7878 64.5055 40.8688C64.7382 39.6924 64.4529 38.4466 64.2107 37.1919" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.3594 61.2787C22.8985 61.4001 23.4276 61.5409 23.9222 61.746C25.6879 62.4781 27.2126 64.1248 29.1317 64.5044C30.9941 64.8729 33.0298 63.9418 35.0004 63.9418C36.971 63.9418 39.0067 64.8729 40.8693 64.5044C42.7885 64.1248 44.3133 62.478 46.0792 61.7459C46.5736 61.5408 47.1025 61.3998 47.6413 61.2784" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.79112 37.1919C5.54899 38.4466 5.2638 39.6922 5.49649 40.8688C5.87602 42.7881 7.5228 44.3129 8.25506 46.0788C9.00004 47.8754 8.9217 50.1154 9.9907 51.7121C11.068 53.3212 13.1721 54.1013 14.5363 55.4654C15.8469 56.776 16.626 58.7599 18.1114 59.8697" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3681 26.2323C16.3681 27.4428 15.3867 28.4242 14.1762 28.4242C12.9657 28.4242 11.9844 27.4428 11.9844 26.2323C11.9844 25.0218 12.9657 24.0405 14.1762 24.0405C15.3867 24.0405 16.3681 25.0218 16.3681 26.2323Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M37.1923 16.3689C37.1923 17.5794 36.211 18.5608 35.0005 18.5608C33.7898 18.5608 32.8086 17.5794 32.8086 16.3689C32.8086 15.1584 33.7898 14.1771 35.0005 14.1771C36.211 14.1771 37.1923 15.1584 37.1923 16.3689Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 21.8486C55.8233 23.0591 54.842 24.0405 53.6315 24.0405C52.4208 24.0405 51.4395 23.0591 51.4395 21.8486C51.4395 20.6381 52.4208 19.6567 53.6315 19.6567C54.842 19.6567 55.8233 20.6381 55.8233 21.8486Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 48.1516C55.8233 49.3621 54.842 50.3434 53.6315 50.3434C52.4208 50.3434 51.4395 49.3621 51.4395 48.1516C51.4395 46.9411 52.4208 45.9597 53.6315 45.9597C54.842 45.9597 55.8233 46.9411 55.8233 48.1516Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5597 43.7678C18.5597 44.9784 17.5783 45.9597 16.3676 45.9597C15.1571 45.9597 14.1758 44.9784 14.1758 43.7678C14.1758 42.5573 15.1571 41.576 16.3676 41.576C17.5783 41.576 18.5597 42.5573 18.5597 43.7678Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.288 56.9192C38.288 58.1297 37.3067 59.1111 36.0962 59.1111C34.8855 59.1111 33.9043 58.1297 33.9043 56.9192C33.9043 55.7087 34.8855 54.7273 36.0962 54.7273C37.3067 54.7273 38.288 55.7087 38.288 56.9192Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.4648 19.6568L18.5609 20.7527" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.752 28.4243L21.8479 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 10.8891L30.6174 11.985" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M39.3848 11.985L40.4807 10.8891" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 27.3284L48.1526 28.4243" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M56.918 28.4243L58.0139 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M54.7266 41.5758L56.9184 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 41.5758L48.1526 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 59.111V58.0151" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M33.9043 49.2475L36.0962 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3691 51.4393L17.4651 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.9453 41.5758V42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_449_922">
                  <rect width="70" height="70" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <span class="blog-category__name">
              pizza
            </span>
          </li>
          <li class="blog-categories__item">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
              <g clip-path="url(#clip0_449_922)">
                <path d="M31.2037 32.8082L16.1502 6.73467C7.60242 12.4464 1.79695 21.9312 1.10352 32.8082H31.2037Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 30.6162L50.0532 4.54211C45.5151 2.29473 40.4064 1.02558 34.9992 1.02558C29.592 1.02558 24.4834 2.29473 19.9453 4.54211L34.9992 30.6162Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M60.2072 32.8082H68.8971C68.2038 21.9312 62.3982 12.4464 53.8505 6.73467L38.7969 32.8082H55.8236" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.7969 37.1919L53.8504 63.2655C62.398 57.5538 68.2036 48.069 68.8971 37.1919H38.7969Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 39.384L19.9453 65.4582C24.4834 67.7056 29.592 68.9747 34.9992 68.9747C40.4064 68.9747 45.5151 67.7056 50.0532 65.4582L34.9992 39.384Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.982 53.1642L31.2036 37.1921H1.10352C1.79681 48.069 7.60242 57.5538 16.1501 63.2656L19.8138 56.9196" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.6412 8.72142C47.1021 8.60015 46.573 8.4592 46.0784 8.25412C44.3128 7.52185 42.7881 5.87522 40.869 5.49569C39.0065 5.12723 36.9709 6.05828 35.0002 6.05828C33.0296 6.05828 30.9938 5.12723 29.1314 5.49569C27.2121 5.87536 25.6872 7.52199 23.9214 8.25425C23.427 8.45933 22.8982 8.60029 22.3594 8.72156" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.1094 10.1303C16.6234 11.24 15.8444 13.2247 14.5335 14.5355C13.1693 15.8999 11.0654 16.68 9.98817 18.289C8.91917 19.8857 8.99779 22.1256 8.25295 23.9219C7.52068 25.6877 5.87418 27.2122 5.49452 29.1313C5.26182 30.3078 5.54715 31.5536 5.78928 32.8082" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M64.2088 32.8082C64.4509 31.5534 64.7362 30.3078 64.5035 29.1312C64.1239 27.2121 62.4771 25.6871 61.745 23.9214C60.9999 22.1248 61.0783 19.8848 60.0092 18.2879C58.932 16.679 56.8279 15.8989 55.4636 14.5346C54.153 13.2241 53.3738 11.2402 51.8887 10.1305" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M51.8906 59.8698C53.3765 58.7601 54.1556 56.7755 55.4665 55.4646C56.8307 54.1003 58.9346 53.3202 60.0118 51.7111C61.0808 50.1144 61.0022 47.8746 61.7471 46.0782C62.4793 44.3125 64.1258 42.7878 64.5055 40.8688C64.7382 39.6924 64.4529 38.4466 64.2107 37.1919" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.3594 61.2787C22.8985 61.4001 23.4276 61.5409 23.9222 61.746C25.6879 62.4781 27.2126 64.1248 29.1317 64.5044C30.9941 64.8729 33.0298 63.9418 35.0004 63.9418C36.971 63.9418 39.0067 64.8729 40.8693 64.5044C42.7885 64.1248 44.3133 62.478 46.0792 61.7459C46.5736 61.5408 47.1025 61.3998 47.6413 61.2784" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.79112 37.1919C5.54899 38.4466 5.2638 39.6922 5.49649 40.8688C5.87602 42.7881 7.5228 44.3129 8.25506 46.0788C9.00004 47.8754 8.9217 50.1154 9.9907 51.7121C11.068 53.3212 13.1721 54.1013 14.5363 55.4654C15.8469 56.776 16.626 58.7599 18.1114 59.8697" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3681 26.2323C16.3681 27.4428 15.3867 28.4242 14.1762 28.4242C12.9657 28.4242 11.9844 27.4428 11.9844 26.2323C11.9844 25.0218 12.9657 24.0405 14.1762 24.0405C15.3867 24.0405 16.3681 25.0218 16.3681 26.2323Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M37.1923 16.3689C37.1923 17.5794 36.211 18.5608 35.0005 18.5608C33.7898 18.5608 32.8086 17.5794 32.8086 16.3689C32.8086 15.1584 33.7898 14.1771 35.0005 14.1771C36.211 14.1771 37.1923 15.1584 37.1923 16.3689Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 21.8486C55.8233 23.0591 54.842 24.0405 53.6315 24.0405C52.4208 24.0405 51.4395 23.0591 51.4395 21.8486C51.4395 20.6381 52.4208 19.6567 53.6315 19.6567C54.842 19.6567 55.8233 20.6381 55.8233 21.8486Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 48.1516C55.8233 49.3621 54.842 50.3434 53.6315 50.3434C52.4208 50.3434 51.4395 49.3621 51.4395 48.1516C51.4395 46.9411 52.4208 45.9597 53.6315 45.9597C54.842 45.9597 55.8233 46.9411 55.8233 48.1516Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5597 43.7678C18.5597 44.9784 17.5783 45.9597 16.3676 45.9597C15.1571 45.9597 14.1758 44.9784 14.1758 43.7678C14.1758 42.5573 15.1571 41.576 16.3676 41.576C17.5783 41.576 18.5597 42.5573 18.5597 43.7678Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.288 56.9192C38.288 58.1297 37.3067 59.1111 36.0962 59.1111C34.8855 59.1111 33.9043 58.1297 33.9043 56.9192C33.9043 55.7087 34.8855 54.7273 36.0962 54.7273C37.3067 54.7273 38.288 55.7087 38.288 56.9192Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.4648 19.6568L18.5609 20.7527" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.752 28.4243L21.8479 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 10.8891L30.6174 11.985" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M39.3848 11.985L40.4807 10.8891" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 27.3284L48.1526 28.4243" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M56.918 28.4243L58.0139 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M54.7266 41.5758L56.9184 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 41.5758L48.1526 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 59.111V58.0151" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M33.9043 49.2475L36.0962 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3691 51.4393L17.4651 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.9453 41.5758V42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_449_922">
                  <rect width="70" height="70" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <span class="blog-category__name">
              pizza
            </span>
          </li>
          <li class="blog-categories__item">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
              <g clip-path="url(#clip0_449_922)">
                <path d="M31.2037 32.8082L16.1502 6.73467C7.60242 12.4464 1.79695 21.9312 1.10352 32.8082H31.2037Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 30.6162L50.0532 4.54211C45.5151 2.29473 40.4064 1.02558 34.9992 1.02558C29.592 1.02558 24.4834 2.29473 19.9453 4.54211L34.9992 30.6162Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M60.2072 32.8082H68.8971C68.2038 21.9312 62.3982 12.4464 53.8505 6.73467L38.7969 32.8082H55.8236" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.7969 37.1919L53.8504 63.2655C62.398 57.5538 68.2036 48.069 68.8971 37.1919H38.7969Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 39.384L19.9453 65.4582C24.4834 67.7056 29.592 68.9747 34.9992 68.9747C40.4064 68.9747 45.5151 67.7056 50.0532 65.4582L34.9992 39.384Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.982 53.1642L31.2036 37.1921H1.10352C1.79681 48.069 7.60242 57.5538 16.1501 63.2656L19.8138 56.9196" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.6412 8.72142C47.1021 8.60015 46.573 8.4592 46.0784 8.25412C44.3128 7.52185 42.7881 5.87522 40.869 5.49569C39.0065 5.12723 36.9709 6.05828 35.0002 6.05828C33.0296 6.05828 30.9938 5.12723 29.1314 5.49569C27.2121 5.87536 25.6872 7.52199 23.9214 8.25425C23.427 8.45933 22.8982 8.60029 22.3594 8.72156" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.1094 10.1303C16.6234 11.24 15.8444 13.2247 14.5335 14.5355C13.1693 15.8999 11.0654 16.68 9.98817 18.289C8.91917 19.8857 8.99779 22.1256 8.25295 23.9219C7.52068 25.6877 5.87418 27.2122 5.49452 29.1313C5.26182 30.3078 5.54715 31.5536 5.78928 32.8082" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M64.2088 32.8082C64.4509 31.5534 64.7362 30.3078 64.5035 29.1312C64.1239 27.2121 62.4771 25.6871 61.745 23.9214C60.9999 22.1248 61.0783 19.8848 60.0092 18.2879C58.932 16.679 56.8279 15.8989 55.4636 14.5346C54.153 13.2241 53.3738 11.2402 51.8887 10.1305" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M51.8906 59.8698C53.3765 58.7601 54.1556 56.7755 55.4665 55.4646C56.8307 54.1003 58.9346 53.3202 60.0118 51.7111C61.0808 50.1144 61.0022 47.8746 61.7471 46.0782C62.4793 44.3125 64.1258 42.7878 64.5055 40.8688C64.7382 39.6924 64.4529 38.4466 64.2107 37.1919" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.3594 61.2787C22.8985 61.4001 23.4276 61.5409 23.9222 61.746C25.6879 62.4781 27.2126 64.1248 29.1317 64.5044C30.9941 64.8729 33.0298 63.9418 35.0004 63.9418C36.971 63.9418 39.0067 64.8729 40.8693 64.5044C42.7885 64.1248 44.3133 62.478 46.0792 61.7459C46.5736 61.5408 47.1025 61.3998 47.6413 61.2784" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.79112 37.1919C5.54899 38.4466 5.2638 39.6922 5.49649 40.8688C5.87602 42.7881 7.5228 44.3129 8.25506 46.0788C9.00004 47.8754 8.9217 50.1154 9.9907 51.7121C11.068 53.3212 13.1721 54.1013 14.5363 55.4654C15.8469 56.776 16.626 58.7599 18.1114 59.8697" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3681 26.2323C16.3681 27.4428 15.3867 28.4242 14.1762 28.4242C12.9657 28.4242 11.9844 27.4428 11.9844 26.2323C11.9844 25.0218 12.9657 24.0405 14.1762 24.0405C15.3867 24.0405 16.3681 25.0218 16.3681 26.2323Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M37.1923 16.3689C37.1923 17.5794 36.211 18.5608 35.0005 18.5608C33.7898 18.5608 32.8086 17.5794 32.8086 16.3689C32.8086 15.1584 33.7898 14.1771 35.0005 14.1771C36.211 14.1771 37.1923 15.1584 37.1923 16.3689Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 21.8486C55.8233 23.0591 54.842 24.0405 53.6315 24.0405C52.4208 24.0405 51.4395 23.0591 51.4395 21.8486C51.4395 20.6381 52.4208 19.6567 53.6315 19.6567C54.842 19.6567 55.8233 20.6381 55.8233 21.8486Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 48.1516C55.8233 49.3621 54.842 50.3434 53.6315 50.3434C52.4208 50.3434 51.4395 49.3621 51.4395 48.1516C51.4395 46.9411 52.4208 45.9597 53.6315 45.9597C54.842 45.9597 55.8233 46.9411 55.8233 48.1516Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5597 43.7678C18.5597 44.9784 17.5783 45.9597 16.3676 45.9597C15.1571 45.9597 14.1758 44.9784 14.1758 43.7678C14.1758 42.5573 15.1571 41.576 16.3676 41.576C17.5783 41.576 18.5597 42.5573 18.5597 43.7678Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.288 56.9192C38.288 58.1297 37.3067 59.1111 36.0962 59.1111C34.8855 59.1111 33.9043 58.1297 33.9043 56.9192C33.9043 55.7087 34.8855 54.7273 36.0962 54.7273C37.3067 54.7273 38.288 55.7087 38.288 56.9192Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.4648 19.6568L18.5609 20.7527" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.752 28.4243L21.8479 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 10.8891L30.6174 11.985" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M39.3848 11.985L40.4807 10.8891" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 27.3284L48.1526 28.4243" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M56.918 28.4243L58.0139 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M54.7266 41.5758L56.9184 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 41.5758L48.1526 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 59.111V58.0151" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M33.9043 49.2475L36.0962 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3691 51.4393L17.4651 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.9453 41.5758V42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_449_922">
                  <rect width="70" height="70" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <span class="blog-category__name">
              pizza
            </span>
          </li>
          <li class="blog-categories__item">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
              <g clip-path="url(#clip0_449_922)">
                <path d="M31.2037 32.8082L16.1502 6.73467C7.60242 12.4464 1.79695 21.9312 1.10352 32.8082H31.2037Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 30.6162L50.0532 4.54211C45.5151 2.29473 40.4064 1.02558 34.9992 1.02558C29.592 1.02558 24.4834 2.29473 19.9453 4.54211L34.9992 30.6162Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M60.2072 32.8082H68.8971C68.2038 21.9312 62.3982 12.4464 53.8505 6.73467L38.7969 32.8082H55.8236" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.7969 37.1919L53.8504 63.2655C62.398 57.5538 68.2036 48.069 68.8971 37.1919H38.7969Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 39.384L19.9453 65.4582C24.4834 67.7056 29.592 68.9747 34.9992 68.9747C40.4064 68.9747 45.5151 67.7056 50.0532 65.4582L34.9992 39.384Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.982 53.1642L31.2036 37.1921H1.10352C1.79681 48.069 7.60242 57.5538 16.1501 63.2656L19.8138 56.9196" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.6412 8.72142C47.1021 8.60015 46.573 8.4592 46.0784 8.25412C44.3128 7.52185 42.7881 5.87522 40.869 5.49569C39.0065 5.12723 36.9709 6.05828 35.0002 6.05828C33.0296 6.05828 30.9938 5.12723 29.1314 5.49569C27.2121 5.87536 25.6872 7.52199 23.9214 8.25425C23.427 8.45933 22.8982 8.60029 22.3594 8.72156" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.1094 10.1303C16.6234 11.24 15.8444 13.2247 14.5335 14.5355C13.1693 15.8999 11.0654 16.68 9.98817 18.289C8.91917 19.8857 8.99779 22.1256 8.25295 23.9219C7.52068 25.6877 5.87418 27.2122 5.49452 29.1313C5.26182 30.3078 5.54715 31.5536 5.78928 32.8082" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M64.2088 32.8082C64.4509 31.5534 64.7362 30.3078 64.5035 29.1312C64.1239 27.2121 62.4771 25.6871 61.745 23.9214C60.9999 22.1248 61.0783 19.8848 60.0092 18.2879C58.932 16.679 56.8279 15.8989 55.4636 14.5346C54.153 13.2241 53.3738 11.2402 51.8887 10.1305" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M51.8906 59.8698C53.3765 58.7601 54.1556 56.7755 55.4665 55.4646C56.8307 54.1003 58.9346 53.3202 60.0118 51.7111C61.0808 50.1144 61.0022 47.8746 61.7471 46.0782C62.4793 44.3125 64.1258 42.7878 64.5055 40.8688C64.7382 39.6924 64.4529 38.4466 64.2107 37.1919" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.3594 61.2787C22.8985 61.4001 23.4276 61.5409 23.9222 61.746C25.6879 62.4781 27.2126 64.1248 29.1317 64.5044C30.9941 64.8729 33.0298 63.9418 35.0004 63.9418C36.971 63.9418 39.0067 64.8729 40.8693 64.5044C42.7885 64.1248 44.3133 62.478 46.0792 61.7459C46.5736 61.5408 47.1025 61.3998 47.6413 61.2784" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.79112 37.1919C5.54899 38.4466 5.2638 39.6922 5.49649 40.8688C5.87602 42.7881 7.5228 44.3129 8.25506 46.0788C9.00004 47.8754 8.9217 50.1154 9.9907 51.7121C11.068 53.3212 13.1721 54.1013 14.5363 55.4654C15.8469 56.776 16.626 58.7599 18.1114 59.8697" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3681 26.2323C16.3681 27.4428 15.3867 28.4242 14.1762 28.4242C12.9657 28.4242 11.9844 27.4428 11.9844 26.2323C11.9844 25.0218 12.9657 24.0405 14.1762 24.0405C15.3867 24.0405 16.3681 25.0218 16.3681 26.2323Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M37.1923 16.3689C37.1923 17.5794 36.211 18.5608 35.0005 18.5608C33.7898 18.5608 32.8086 17.5794 32.8086 16.3689C32.8086 15.1584 33.7898 14.1771 35.0005 14.1771C36.211 14.1771 37.1923 15.1584 37.1923 16.3689Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 21.8486C55.8233 23.0591 54.842 24.0405 53.6315 24.0405C52.4208 24.0405 51.4395 23.0591 51.4395 21.8486C51.4395 20.6381 52.4208 19.6567 53.6315 19.6567C54.842 19.6567 55.8233 20.6381 55.8233 21.8486Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 48.1516C55.8233 49.3621 54.842 50.3434 53.6315 50.3434C52.4208 50.3434 51.4395 49.3621 51.4395 48.1516C51.4395 46.9411 52.4208 45.9597 53.6315 45.9597C54.842 45.9597 55.8233 46.9411 55.8233 48.1516Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5597 43.7678C18.5597 44.9784 17.5783 45.9597 16.3676 45.9597C15.1571 45.9597 14.1758 44.9784 14.1758 43.7678C14.1758 42.5573 15.1571 41.576 16.3676 41.576C17.5783 41.576 18.5597 42.5573 18.5597 43.7678Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.288 56.9192C38.288 58.1297 37.3067 59.1111 36.0962 59.1111C34.8855 59.1111 33.9043 58.1297 33.9043 56.9192C33.9043 55.7087 34.8855 54.7273 36.0962 54.7273C37.3067 54.7273 38.288 55.7087 38.288 56.9192Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.4648 19.6568L18.5609 20.7527" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.752 28.4243L21.8479 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 10.8891L30.6174 11.985" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M39.3848 11.985L40.4807 10.8891" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 27.3284L48.1526 28.4243" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M56.918 28.4243L58.0139 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M54.7266 41.5758L56.9184 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 41.5758L48.1526 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 59.111V58.0151" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M33.9043 49.2475L36.0962 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3691 51.4393L17.4651 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.9453 41.5758V42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_449_922">
                  <rect width="70" height="70" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <span class="blog-category__name">
              pizza
            </span>
          </li>
          <li class="blog-categories__item">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
              <g clip-path="url(#clip0_449_922)">
                <path d="M31.2037 32.8082L16.1502 6.73467C7.60242 12.4464 1.79695 21.9312 1.10352 32.8082H31.2037Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 30.6162L50.0532 4.54211C45.5151 2.29473 40.4064 1.02558 34.9992 1.02558C29.592 1.02558 24.4834 2.29473 19.9453 4.54211L34.9992 30.6162Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M60.2072 32.8082H68.8971C68.2038 21.9312 62.3982 12.4464 53.8505 6.73467L38.7969 32.8082H55.8236" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.7969 37.1919L53.8504 63.2655C62.398 57.5538 68.2036 48.069 68.8971 37.1919H38.7969Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.9992 39.384L19.9453 65.4582C24.4834 67.7056 29.592 68.9747 34.9992 68.9747C40.4064 68.9747 45.5151 67.7056 50.0532 65.4582L34.9992 39.384Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.982 53.1642L31.2036 37.1921H1.10352C1.79681 48.069 7.60242 57.5538 16.1501 63.2656L19.8138 56.9196" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.6412 8.72142C47.1021 8.60015 46.573 8.4592 46.0784 8.25412C44.3128 7.52185 42.7881 5.87522 40.869 5.49569C39.0065 5.12723 36.9709 6.05828 35.0002 6.05828C33.0296 6.05828 30.9938 5.12723 29.1314 5.49569C27.2121 5.87536 25.6872 7.52199 23.9214 8.25425C23.427 8.45933 22.8982 8.60029 22.3594 8.72156" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.1094 10.1303C16.6234 11.24 15.8444 13.2247 14.5335 14.5355C13.1693 15.8999 11.0654 16.68 9.98817 18.289C8.91917 19.8857 8.99779 22.1256 8.25295 23.9219C7.52068 25.6877 5.87418 27.2122 5.49452 29.1313C5.26182 30.3078 5.54715 31.5536 5.78928 32.8082" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M64.2088 32.8082C64.4509 31.5534 64.7362 30.3078 64.5035 29.1312C64.1239 27.2121 62.4771 25.6871 61.745 23.9214C60.9999 22.1248 61.0783 19.8848 60.0092 18.2879C58.932 16.679 56.8279 15.8989 55.4636 14.5346C54.153 13.2241 53.3738 11.2402 51.8887 10.1305" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M51.8906 59.8698C53.3765 58.7601 54.1556 56.7755 55.4665 55.4646C56.8307 54.1003 58.9346 53.3202 60.0118 51.7111C61.0808 50.1144 61.0022 47.8746 61.7471 46.0782C62.4793 44.3125 64.1258 42.7878 64.5055 40.8688C64.7382 39.6924 64.4529 38.4466 64.2107 37.1919" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.3594 61.2787C22.8985 61.4001 23.4276 61.5409 23.9222 61.746C25.6879 62.4781 27.2126 64.1248 29.1317 64.5044C30.9941 64.8729 33.0298 63.9418 35.0004 63.9418C36.971 63.9418 39.0067 64.8729 40.8693 64.5044C42.7885 64.1248 44.3133 62.478 46.0792 61.7459C46.5736 61.5408 47.1025 61.3998 47.6413 61.2784" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.79112 37.1919C5.54899 38.4466 5.2638 39.6922 5.49649 40.8688C5.87602 42.7881 7.5228 44.3129 8.25506 46.0788C9.00004 47.8754 8.9217 50.1154 9.9907 51.7121C11.068 53.3212 13.1721 54.1013 14.5363 55.4654C15.8469 56.776 16.626 58.7599 18.1114 59.8697" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3681 26.2323C16.3681 27.4428 15.3867 28.4242 14.1762 28.4242C12.9657 28.4242 11.9844 27.4428 11.9844 26.2323C11.9844 25.0218 12.9657 24.0405 14.1762 24.0405C15.3867 24.0405 16.3681 25.0218 16.3681 26.2323Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M37.1923 16.3689C37.1923 17.5794 36.211 18.5608 35.0005 18.5608C33.7898 18.5608 32.8086 17.5794 32.8086 16.3689C32.8086 15.1584 33.7898 14.1771 35.0005 14.1771C36.211 14.1771 37.1923 15.1584 37.1923 16.3689Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 21.8486C55.8233 23.0591 54.842 24.0405 53.6315 24.0405C52.4208 24.0405 51.4395 23.0591 51.4395 21.8486C51.4395 20.6381 52.4208 19.6567 53.6315 19.6567C54.842 19.6567 55.8233 20.6381 55.8233 21.8486Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55.8233 48.1516C55.8233 49.3621 54.842 50.3434 53.6315 50.3434C52.4208 50.3434 51.4395 49.3621 51.4395 48.1516C51.4395 46.9411 52.4208 45.9597 53.6315 45.9597C54.842 45.9597 55.8233 46.9411 55.8233 48.1516Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5597 43.7678C18.5597 44.9784 17.5783 45.9597 16.3676 45.9597C15.1571 45.9597 14.1758 44.9784 14.1758 43.7678C14.1758 42.5573 15.1571 41.576 16.3676 41.576C17.5783 41.576 18.5597 42.5573 18.5597 43.7678Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.288 56.9192C38.288 58.1297 37.3067 59.1111 36.0962 59.1111C34.8855 59.1111 33.9043 58.1297 33.9043 56.9192C33.9043 55.7087 34.8855 54.7273 36.0962 54.7273C37.3067 54.7273 38.288 55.7087 38.288 56.9192Z" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.4648 19.6568L18.5609 20.7527" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.752 28.4243L21.8479 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 10.8891L30.6174 11.985" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M39.3848 11.985L40.4807 10.8891" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 27.3284L48.1526 28.4243" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M56.918 28.4243L58.0139 27.3284" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M54.7266 41.5758L56.9184 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.0566 41.5758L48.1526 42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.5215 59.111V58.0151" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M33.9043 49.2475L36.0962 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3691 51.4393L17.4651 50.3434" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.9453 41.5758V42.6718" stroke="#171719" stroke-width="2.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_449_922">
                  <rect width="70" height="70" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <span class="blog-category__name">
              pizza
            </span>
          </li>
        </ul>
      </div>
      {%- if section.settings.show_tags and blog.all_tags.size > 0 -%}
      <div class="blog-filter-tags">
        <ul class="blog-filter-tags--list">
          {%- for tag in blog.all_tags -%}
            <li class="blog-filter-tags--item">
              <input data-tag-name="{{- tag -}}" role="tag-tab" {% if current_tags contains tag %}checked{% endif %} type="checkbox" id="tags-{{ forloop.index }}">
              <label for="tags-{{ forloop.index }}">
                <span class="blog-filter-tags--item-checkbox">
                  <span class="blog-filter-tags--item-circle">
                  </span>
                </span>
                {{- tag -}}
              </label>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
      <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
        {%- for article in blog.articles -%}
          <div
                  class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
          >
            {%- render 'article-card',
                    article: article,
                    media_height: section.settings.image_height,
                    media_aspect_ratio: article.image.aspect_ratio,
                    show_image: section.settings.show_image,
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    show_excerpt: true,
                    link_title: section.settings.link_title
            -%}
          </div>
        {%- endfor -%}
      </div>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>

  </div>
{%- endpaginate -%}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    function AddUrlTag(tagName){
      if(window.location.href.includes("tagged")){
        window.location.href = window.location.href + `+${tagName}`
      }
      else{
        window.location.href = window.location.href + `/tagged/${tagName}`
      }
    }
    function RemoveUrlTag(tagName){
      let url = window.location.href
      let tags = url.split("/").at(-1).split('+')
      if(tags.length > 1){
        let newTags = tags.filter(tag => tag !== tagName).join("+")
        window.location.href = window.location.href.split("/").slice(0,-1).join('/')+"/"+newTags
      }
      else{
        window.location.href = window.location.href.split('/').slice(0,-2).join('/')
      }
    }
    let filterTags = document.querySelectorAll('[role="tag-tab"]')
    filterTags.forEach(filterTag => {
      filterTag.addEventListener("change", ()=>{
        let tagName = filterTag.getAttribute("data-tag-name")
        filterTag.checked?AddUrlTag(tagName):RemoveUrlTag(tagName)
      })
    })
  })
</script>
{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "default": "#E0DED4",
      "label": "Background color"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "Show tags filter"
    },
    {
      "type": "textarea",
      "id": "description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut cupiditate ducimus iusto quod sunt.",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "link_title",
      "default": "view RECIPES",
      "label": "Title for article's link"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top for mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom for mobile",
      "default": 36
    }
  ]
}
{% endschema %}
