{{ 'main-collection-banner.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    padding-left: 48px;
    padding-right: 48px;
  {% if section.settings.background-image != blank %}
    background-image: url("{{ section.settings.background-image.src | img_url: 'master' }}");
  {% else %}
    background: #8c8a8a;
  {% endif %}
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: 768px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding-top-mobile }}px;
      padding-bottom: {{ section.settings.padding-bottom-mobile }}px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }


</style>


<div class="banner-text-overlay section-{{ section.id }}">
  <div class="banner-text-overlay-wrapper">
    <h1 class="banner-text-overlay-title h1 page-width">
      {{ collection.title }}
    </h1>
    <div class="banner-text-overlay-text regular page-width">
      {{ collection.description }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background-image",
      "label": "Background image"
    },
    {
      "type": "header",
      "content": "Space desktop"
    },
    {
      "type": "range",
      "id": "padding-top",
      "label": "Padding top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "Padding bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "header",
      "content": "Space mobile"
    },
    {
      "type": "range",
      "id": "padding-top-mobile",
      "label": "Padding top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    },
    {
      "type": "range",
      "id": "padding-bottom-mobile",
      "label": "Padding bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Collection banner"
    }
  ]
}
{% endschema %}